@charset "UTF-8";
/* CSS Document */

/* imort av fonts*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* RESET AV CSS-INSTÄLLNINGAR, hämtad från https://dev.to/hankchizljaw/a-modern-css-reset-6p3 */

/* Box sizing rules */

*, *::before, *::after {
    box-sizing: border-box;
}

/* Remove default padding */

/*
ul[class], ol[class] {
    padding: 0;
}*/

/* Remove default margin, kanske lägga till a också? */

body, h1, h2, h3, h4, p, a, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
    margin: 0;
}

/* Set core body defaults */

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    /*text-rendering: optimizeSpeed; denna egenskap validerar ej*/
    line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */

/*
ul[class], ol[class] {
    list-style: none;
}*/

/* A elements that don't have a class get default styles 
Validerar ej: Egenskap text-decoration-skip-ink finns inte : auto */

/*a:not([class]) {
  text-decoration-skip-ink: auto;
}*/

/* Make images easier to work with */

img, picture, source {
    max-width: 100%;
    display: block;
    border-radius: 2px;
}

/* Natural flow and rhythm in articles by default */

/*article>*+* {
    margin-top: 1em;
}*/

/* Inherit fonts for inputs and buttons */

input, button, textarea, select {
    font: inherit;
}

/* Plockar bort padding på vänster sida för listor*/

ul {
    padding-left: 0;
}

/* ------------------END CLEARING OF SETTINGS ---------------------------------------*/

/* ALLMÄNNA INSTÄLLNINGAR FÖR HELA SIDAN*/

/* Sätter font-size till 62.5 % vilket innebär att sätter man 
sedan texten i ett p-element till 1.6 rem = 16 px
då 62.5 % av 16px som är standardinställningen är 10 px*/

html {
    font-size: 62.5%;
}

body {
    padding: 0;
    background-color: #F6F6F6;
    background-image: url("https://studenter.miun.se/~bjed1500/images/snow_background2.jpg");
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #222120;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

/* *************************************************
***************     FONTS     ***********************
***************************************************/

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #0a7aa7;
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.3;
    text-align: left;
}

.h1-a {
    color: #0b4c97;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #2D2929;
    font-size: 2rem;
    font-weight: bold;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #178f3f;
    font-size: 1.6rem;
    font-weight: bold;
}

/* Paragraf*/

p {
    font-family: 'Roboto', sans-serif;
    color: #3B2727;
    font-size: 1.4rem;
    line-height: 2.5rem;
}

.pbold {
    font-weight: bold;
}

#page-contationer {
    position: relative;
    min-height: 100VH;
}

#contentWrapper {
    padding-bottom: 14rem;
}

/* HEADER*/

header {
    background-color: #e7e9eb;
    min-height: 8em;
    display: flex;
    justify-content: space-between;
}
.headWrapper {
    display: flex;
    flex-direction: row;
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    align-items: end;
    justify-content: space-between;
    background-color: #e7e9eb;
    z-index: 100;
}

.headWrapper h1 {
    margin-bottom: 20px;
    margin-left: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: #0b4c97;
    font-size: 5rem;
}

.nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-bottom: 20px;
    margin-right: 8em;
}

.li {
    padding-right: 1em;
}

.menuText {
    color: #3a3837;
    text-decoration: none;
    line-height: 2em;
    font-size: 1.8rem;
}
.menuText:hover {
    color: #b60799;
    text-decoration: underline;
}


/* MAIN*/
main {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.2em;
    z-index: 99;
    margin-top: 2em;
    position: relative;
    padding-bottom: 6em;

}

.startart {
    padding-left: 1em;
    max-width: 50em;
}

.paddh1 {
    padding-bottom: 2em;
    padding-top: 1em;
    padding-left: 2em;
}

/* Footer*/
footer {
    background-color: #e7e9eb;
    height: 14rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 2em;
}

.absolute-foot {
   /* position: absolute;*/
}
#footInfo {
    display: flex;
    flex-direction: row;
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    align-items: end;
    justify-content: space-between;
    background-color: #e7e9eb;
    z-index: 198;
    position: relative;
    margin-top: 2em;
    text-align: center;
    justify-content: center;
    height: 100%;

}
.foot-ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.lifoot {
    padding-bottom: 1em;
}

.afoot {
    text-decoration: none;
    font-size: 1.4em;
}

.afoot :hover {
    text-decoration: none;
    font-size: 1.4em;
    font-weight: bold;
    transition: all 0.3s;
}

/* imgWrapper snöbilder*/
.imgWrapper {
    display: flex;
    flex-direction: column;
}

.imgArticle {
    padding: 1em;
}

/* SNOWFLAXES */
.snowflakes {
	width: 100%; height: 1200px;
	position: absolute; top: -90px; left: 0;
}

i, i:after, i:before { background: white; }
i {
	display: inline-block;
	-webkit-animation: snowflakes 3s linear 2s 20;
	-moz-animation: snowflakes 3s linear 2s 20;
	position: relative;
}
i:after, i:before {
	height: 100%;
	width: 100%;
	content: ".";
	position: absolute;
	top: 0px;
	left: 0px;
	-webkit-transform: rotate(120deg);
}
i:before { -webkit-transform: rotate(240deg); }

@-webkit-keyframes snowflakes {
	0% {
		-webkit-transform: translate3d(0,0,0) rotate(0deg) scale(0.6);
	}
	100% {
		-webkit-transform: translate3d(15px, 1200px, 0px) rotate(360deg) scale(0.6);
	};
}

.snowflakes i:nth-child(3n) {
	width: 16px; height: 4px;
	-webkit-animation-duration: 4s;
	-webkit-animation-iteration-count: 30;
	-webkit-transform-origin: right -45px;
}

.snowflakes i:nth-child(3n+1) {
	width: 24px; height: 6px;
	-webkit-animation-duration: 6s;
	-webkit-animation-iteration-count: 45;
	-webkit-transform-origin: right -30px;
}

.snowflakes i:nth-child(3n+2) {
	width: 32px; height: 8px;
	-webkit-animation-duration: 8s;
	-webkit-animation-iteration-count: 60;
	-webkit-transform-origin: right -15px;
}
	
/* different delays so they don't all start at the same time */
.snowflakes i:nth-child(7n) {
  opacity:.3;
  -webkit-animation-delay: 0s;
  -webkit-animation-timing-function:ease-in;
}
.snowflakes i:nth-child(7n+1) {
  opacity:.4;
  -webkit-animation-delay: 1s;
  -webkit-animation-timing-function:ease-out;
}
.snowflakes i:nth-child(7n+2) {
  opacity:.5;
  -webkit-animation-delay: 1.5s;
  -webkit-animation-timing-function:linear;
}
.snowflakes i:nth-child(7n+3) {
  opacity:.6;
  -webkit-animation-delay: 2s;
  -webkit-animation-timing-function:ease-in;
}
.snowflakes i:nth-child(7n+4) {
  opacity:.7;
  -webkit-animation-delay: 2.5s;
  -webkit-animation-timing-function:linear;
}
.snowflakes i:nth-child(7n+5) {
  opacity:.8;
  -webkit-animation-delay: 3s;
  -webkit-animation-timing-function:ease-out;
}
.snowflakes i:nth-child(7n+6) {
  opacity:.9;
  -webkit-animation-delay: 3.5s;
  -webkit-animation-timing-function:ease-in;
}

@media screen and (min-width: 990px) {
    .imgWrapper {
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;      
    }

    .imgArticle {
        width: 50%;
    }
    
}